<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div th:fragment="main">
		<div class="container px-4 px-lg-5 h-100 ">
			<div
				class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end justify-content-center text-center">
				<canvas class="my-4 w-100" id="myChart" width="900" height="150"></canvas>
					<h1 class="text-white font-weight-bold">方便的公司內部團購系統</h1>
					<hr class="divider" />
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 mb-5">歡迎加入 解決自己一直忘記訂什麼餐點的困擾</p>
					<a class="btn btn-primary btn-xl" href="#about">立刻開始</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>